body {
    margin: 0 auto;
    padding: 0;
    font-family: inconsolataregular;
    background-image: url("imgs/bg.png");
    background-attachment: fixed;
    background-position: center;
}

h5 {
    background-color:black;
    color: white;
    margin: 0;
    padding: 0.5em 0em 0.5em 0.5em;
    font-family: 'pixelpathhpregular';
    font-size: 2em;
    border-bottom: red solid 0.2em;
}

#main {
    margin: 3em;
}



p {

    margin: 0;
    padding: 1em 1em 1.5em 1em;
}

.plusdeP {
    margin-top: -2em;
}

  .day {
/*    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: black solid 0.25em;      */
    margin: 0.5em;

    float: left;

    background-color: white;
}

@media (max-width: 650px) {
  .day {
    width: calc(100% - 2em);
    }
}

@media (min-width: 651px) {
  .day {
    width: calc((100% - 3em) /2);

}

}

@media (min-width: 1024px) {
  .day {

    width: calc((100% - 5em) /3);

}

}





/* FONTS */
@font-face {
    font-family: 'pixelpathhpregular';
    src: url('fonts/pixelpathhp-regular-webfont.ttf');
    src: url('fonts/pixelpathhp-regular-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inconsolatabold';
    src: url('fonts/inconsolata-bold-webfont.ttf');
    src: url('fonts/inconsolata-bold-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inconsolataregular';
    src: url('fonts/inconsolata-regular-webfont.ttf');
    src: url('fonts/inconsolata-regular-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}



